<div class="text-[12px] jus-s-item-c w-full">
  <div class="mr-[5px] font-medium"><%= sync.start_time.strftime('%H:%M') %></div>
  <div class="italic text-slate-800 text-ellipsis max-w-[115px] whitespace-nowrap overflow-hidden"><%= sync.event.title %></div>
</div>
