<div >
  <input type="checkbox" id="check_all" class="all-check-user no-outline accent-blue-700" name="user_all" value="all" data-action="click->records-table#userCheckAll" data-records-table-target = 'check' autocomplete="off">
</div>
