<a href="<%= sort_url(@query, name.to_sym, name, default_order: :asc, from: "record_table")%>" data-turbo-stream="true" class= "w-[10px] h-[10px] ic-drop-down-b rotate-180 rounded-full"></a>
<a href="<%= sort_url(@query, name.to_sym, name, default_order: :desc, from: "record_table")%>" data-turbo-stream="true" class= "w-[10px] h-[10px] ic-drop-down-b rounded-full"></a>
