<div class="w-[100vw] h-[100vh] absolute bg-white jus-c-item-c top-[0px] left-[0px] fetch_success flex-col hidden">
  <%= image_tag 'success_fetch.gif' %>
  <div class="text-[40px] leading-[60px] font-semibold text-[#3649F9]">User(s) has been fetched successfully.</div>
</div>
