<div class="w-[100vw] h-[100vh] absolute bg-white jus-c-item-c top-[0px] left-[0px] fetch_unsuccess flex-col hidden">
  <%= image_tag 'unsuccessful_fetch.gif' %>
  <div class="text-[36px] leading-[54px] font-semibold text-[#DF0404] relative bottom-[81px]">Ops! There is something wrong, Please try again.</div>
</div>
